
.body{
    margin: 5% 20%;
    border-spacing: 30px;
    background-color: #bce8f1;
}

.blue-btn{
    height: 25px;
    width: 100px;
    background-color: darkblue;
    color: white;
    border: none;
}
.task-list-container{
    background-color: rgb(127, 219, 197);

    color: darkblue;
}

.search{
    margin: 10px 2px 125px 10px;

}
.space{
    padding: 2px 10px;
    margin: 2px;
}

.main{
    margin: 0 20%;
}
.clear-both{
    clear: both;
}